$carousel-opacity: 0.3;
main-game{

  .current-player{

    .carousel{
      background-color: $grey-color;
      height: $avatar-size;
      position: relative;
      .masker{
        position: absolute;
        width: 100%;
        $masker-color: $grey-color;
        
        height: $avatar-size;
        background: -moz-linear-gradient(left,  rgba($masker-color,0) 0%, rgba($masker-color,1) 20%, rgba($masker-color,1) 80%, rgba($masker-color,0) 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba($masker-color,0)), color-stop(20%,rgba($masker-color,1)), color-stop(80%,rgba($masker-color,1)), color-stop(100%,rgba($masker-color,0)));
        background: -webkit-linear-gradient(left,  rgba($masker-color,0) 0%,rgba($masker-color,1) 20%,rgba($masker-color,1) 80%,rgba($masker-color,0) 100%);
        background: -o-linear-gradient(left,  rgba($masker-color,0) 0%,rgba($masker-color,1) 20%,rgba($masker-color,1) 80%,rgba($masker-color,0) 100%);
        background: -ms-linear-gradient(left,  rgba($masker-color,0) 0%,rgba($masker-color,1) 20%,rgba($masker-color,1) 80%,rgba($masker-color,0) 100%);
        background: linear-gradient(to right,  rgba($masker-color,0) 0%,rgba($masker-color,1) 20%,rgba($masker-color,1) 80%,rgba($masker-color,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#03ffffff', endColorstr='#00ffffff',GradientType=1 );

        z-index: 1;
      }
      .player{
//        transition: left $animation-time, z-index $animation-time*2;
//        left: 0;
        position: absolute;

        .avatar{
          transition: opacity $animation-time;
          position: relative;
          left: -50%;
//          opacity: 0.3;
        }

        &.current{
          @include animation(enterCurrent $animation-time);
          z-index: 2;
          left: 50%;

          &.dual{
            transition: left $animation-time, z-index 0;
          }
          .avatar{
            opacity: 1;
          }
        }

        &.next{
          @include animation(enterNext $animation-time);
          left: 0;
          opacity: $carousel-opacity;
        }

        &.past{
          @include animation(enterPast $animation-time);
          opacity: $carousel-opacity;
          left: 100%;
        }

        &.out{
          @include animation(enterOut $animation-time);
          left: -$avatar-size/2;
        }
      }
    }
  }
}

@include keyframes(enterCurrent) {
  from  {left: 100%;
  opacity: $carousel-opacity}
  to    {left: 50%;
  opacity: 1}
}

@include keyframes(enterOut) {
  0%  { left: 50%;
        z-index:2}
  99% { left: -$avatar-size/2 ;
        z-index:2}
  100%{ z-index:0}
}

@include keyframes(enterPast) {
  0%  { left: 0;
        z-index: 0;}
  100% { left: 100%  }
}
@include keyframes(enterNext) {
  0%  { left: 50%;
        opacity: 1;
        z-index:2}
  100% { left: 0 ;
        opacity: $carousel-opacity ;
        z-index:2}
}