
mission-card{
  text-align: center;

  .mission-title{
    background-color: $black;
    height: $mission-title-height;

    .title-text{
      margin: 0;
      color: #ffffff;
      text-align: center;
    }
  }


  .top-point {
    @include transition(all, $animation-time);
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent $dark-grey transparent;
    border-width: 0 $triangle-size $triangle-size $triangle-size;
    top: -$triangle-size;
  }

  .color-fan{
    position: fixed;
    top: $top-height;
    width: 100%;
    height: calc( 100% - #{$top-height} );
    z-index: 1;
    left: 100%;
      @include triple-animation(
              enter $swipe-duration/4 ease-out ,
              loop $swipe-duration linear $swipe-duration/4 2  ,
              swipe-fan $swipe-duration ($swipe-duration*2.25)
      );

    .color{
      position: absolute;
      width: 100%;
      height: 100%;

      &.a{
        background-color: $orange;
        left: 0;
      }

      &.b{
        background-color: $blue;
        left: 100%;
      }

      &.c{
        background-color: $purple;
        left: 200%;
      }

      &.d{
        background-color: $green;
        left: 300%;
      }

      &.e{
        background-color: $orange;
        left: 400%;
      }
    }
  }

  .mission-body{
    margin-top: -$triangle-size;
    background-color: $dark-grey;
    height: calc( 100% - #{$top-height} );
    width: 100%;
    display: block;
    position: absolute;

    .actions-container{
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 30px 0;
    }

    &.pre-turn{
      display: table;

      .roll-the-dice{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}


@include keyframes(loop) {
  0% {
    left: -400%;
  }
  100% {
    left: 0%
  }
}
@include keyframes(enter) {
  0% {
    left: -500%;
  }
  100% {
    left: -400%
  }
}
@include keyframes(swipe-fan) {
  0% {
    left: -400%;
  }
  100% {
    left: 100%
  }
}