
mission-card{
  text-align: center;

  .mission-title{
    background-color: $black;
    height: $mission-title-height;

    .title-text{
      margin: 0;
      color: #ffffff;
      text-align: center;
    }
  }


  .top-point {
    @include transition(all, $animation-time);
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent $dark-grey transparent;
    border-width: 0 $triangle-size $triangle-size $triangle-size;
    top: -$triangle-size;
  }

  .mission-body{
    margin-top: -$triangle-size;
    background-color: $dark-grey;
    height: calc( 100% - #{$top-height} );
    width: 100%;
    display: block;
    position: absolute;

    .actions-container{
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 30px 0;
    }

    &.pre-turn{
      display: table;

      .roll-the-dice{
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}