@mixin transition($property , $duration){
    -webkit-transition: $property $duration;
    -moz-transition: $property $duration;
    -ms-transition: $property $duration;
    -o-transition: $property $duration;
    transition: $property $duration;
}


@mixin keyframes($name) {
  @-o-keyframes #{$name} { @content };
  @-moz-keyframes #{$name} { @content };
  @-webkit-keyframes #{$name} { @content };
  @keyframes #{$name} { @content };
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

@mixin dual-animation($str1,$str2) {
  -webkit-animation: #{$str1},#{$str2};
  -moz-animation: #{$str1},#{$str2};
  -ms-animation: #{$str1},#{$str2};
  -o-animation: #{$str1},#{$str2};
  animation: #{$str1},#{$str2};
}

@mixin triple-animation($str1,$str2,$str3) {
  -webkit-animation: #{$str1},#{$str2},#{$str3};
  -moz-animation: #{$str1},#{$str2},#{$str3};
  -ms-animation: #{$str1},#{$str2},#{$str3};
  -o-animation: #{$str1},#{$str2},#{$str3};
  animation: #{$str1},#{$str2},#{$str3};
}

@mixin transform ($str){
  -ms-transform: #{$str}; /* IE 9 */
  -webkit-transform: #{$str}; /* Chrome, Safari, Opera */
  transform: #{$str};
}