user-selection{
  text-align: center;
  .player-item{

    .avatar-container{
      padding: $padding;
    }

    .details-box{
      color: #ffffff;
      background-color: $details-box-color;
      padding-bottom: 5px;

      .top-point{
        position: relative;
        top: -$triangle-size;
        margin: 0 auto;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 $triangle-size $triangle-size $triangle-size;
        border-color: transparent transparent $details-box-color transparent;
      }

      .field{
        text-align: right;
        direction: rtl;
        height: 30px;
        margin-bottom: 15px;
        .options{
          font-size: 0;
          display: inline-block;
          line-height: 30px;
          height: 30px;
          .option{
            font-size: 15px;
            display: inline-block;
            text-align: center;
            width: 80px;
            border: 1px solid white;

            &:first-of-type{
              border-radius: 0 $button-border  $button-border 0;
            }
            &:last-of-type{
              border-right: 0;
              border-radius:  $button-border 0 0 $button-border ;
            }
            &.selected{
              background-color: orange;
            }
          }
        }
        .field-name{
          width: 30%;
          text-align: left;
          display: inline-block;
        }
      }
    }
  }

  .avatar{
    max-width: $avatar-size;
    border-radius: 50%;

  }

  .add-player-container{
    padding: $padding;
    .add-player{
      display: inline-block;

      a{
        border: 1px solid grey;
        border-radius: 50%;
        height: $avatar-size;
        width: $avatar-size;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}