@import "playerItem";
user-selection{
  text-align: center;

  .avatar{
    max-width: $avatar-size;
    border-radius: 50%;

  }

  .add-player-container{
    padding: $padding;
    .add-player{
      display: inline-block;

      a{
        border: 1px solid grey;
        border-radius: 50%;
        height: $avatar-size;
        width: $avatar-size;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
  .start-game{
    button{
      width: $avatar-size;
      height: $avatar-size / 3;
      background-color: $orange-color;
      color: white;
    }
  }
}