$button-radius:5px;
$header-height: 60px;
$padding: 15px;
$avatar-size: 100px;
$triangle-size: 20px;

$orange-color: #EEAF4B;
$grey-color: #546979;


$details-box-color : $grey-color;
$button-border:5px;

$animation-time: 0.2s;