$button-radius: 5px;
$button-width: 90px;
$button-height: 30px;

$header-height: 60px;
$padding: 15px;
$avatar-size: 100px;
$triangle-size: 20px;

$padding: 30px;

$orange: #EEAF4B;
$green: #88C057;
$red: #ED7161;
$blue: #47A0DB;
$purple: #9777A8;
$light-grey: #546979;
$dark-grey: #2A3034;
$black: #212324;

$details-box-color: $light-grey;
$button-border: 5px;

$animation-time: 0.2s;
$swipe-duration: 0.3s;
//avatar carousel
$carousel-opacity: 0.3;
$masker-color: $black;

//mission-card
$mission-title-height: 50px;
$top-height: 2 * $padding + $header-height + $mission-title-height + $avatar-size;