@import "vars";
@import "mixins";
@import "sideBar";
@import "userSelection";

// bower:scss
// endbower

button{
  border: none;
  border-radius: $button-radius;
  &:focus{
    outline: none;
  }
}

a{
  text-decoration: none;
  &:focus{
    outline: none;
  }
}

body {
  padding-bottom: 20px;
  margin: 0;
}