@import "vars";
@import "mixins";
@import "sideBar";
@import "userSelection";
@import "mainGame";
@import "currentPlayer";

// bower:scss
// endbower
.avatar{
  max-width: $avatar-size;
  border-radius: 50%;

}
#main{
  overflow: hidden;
}

button{
  border: none;
  border-radius: $button-radius;

  &:focus{
    outline: none;
  }
}

a{
  text-decoration: none;

  &:focus{
    outline: none;
  }
}

body {
  padding-bottom: 20px;
  margin: 0;
}