<div class="mission-title">

    <h2 class="title-text"
        ng-class="mission.type"
        ng-if="mission.type == config.MISSION_TYPE_PRE_TURN ">
        <span>
            שחקן
        </span>
        <span>{{currentPlayer + 1}}</span>
    </h2>

</div>

<div class="top-point"></div>

<div class="color-fan" ng-if="fanAnimation">
    <div class="color a"></div>
    <div class="color b"></div>
    <div class="color c"></div>
    <div class="color d"></div>
    <div class="color e"></div>
</div>

<div class="mission-body" ng-class="mission.type">
    <div class="roll-the-dice"
            ng-if="mission.type == config.MISSION_TYPE_PRE_TURN ">
            <button ng-click="startFan()">
                שחק!
            </button>
    </div>

    <div ng-if="mission.type != config.MISSION_TYPE_PRE_TURN ">
        <p class="primary-text">
            {{mission.text}}
        </p>
        <p class="secondary-text">
            {{mission.points}}
        </p>

        <div class="actions-container">
            <button ng-repeat="button in mission.buttons">
                {{button.text}}
            </button>
        </div>
    </div>
</div>